@model PizzaFormModel



<h1>New Pizza</h1>

<div class="container">
    <div class="pad">
        <form method="post" asp-controller="Pizza" asp-action="Create">
            @Html.AntiForgeryToken()
            <div class="form-field">
                <label asp-for="Pizza.Nome">Title</label>
                <input asp-for="Pizza.Nome" />
                <span asp-validation-for="Pizza.Nome" class="text error"></span>
            </div>
            <div class="form-field">
                <label asp-for="Pizza.Descrizione">Description</label>
                <textarea asp-for="Pizza.Descrizione"></textarea>
                <span asp-validation-for="Pizza.Descrizione" class="text error"></span>
            </div>
            <div class="form-field">
                <label asp-for="Pizza.Price">Prezzo</label>
                <input asp-for="Pizza.Price" />
                <span asp-validation-for="Pizza.Price" class="text error"></span>
            </div>
            <button type="submit">Create</button>
            <div class="mb-3">
                <strong>Sport:</strong>
                <select asp-for="Pizza.CategoryId" rows="10" class="d-block w-100">
                    <option value =""></option>
                    @foreach(Category categoria in Model.Categories)
                    {
                        @if(Model.Pizza.CategoryId == categoria.Id)
                        {
                            <option value="@categoria.Id" selected>@categoria.Name</option>
                        }
                        else
                        {
                            <option value="@categoria.Id">@categoria.Name</option>
                        }
                    }
                </select>
            </div>
        </form>
    </div>

</div>